:root {
    --background: #f7f3ea;
    --surface: #ffffff;
    --surface-soft: #f1ede4;
    --text: #777777;
    --muted-text: #3b3b3b;
    --border: #dedad1;
    
    --primary: #171717;
    --primary-hover: #
}